// colors 

$body-background-colors: #FFF;
$sidebar-background-colors: #F4F4F4;
$text-colors: #333;
$title-colors: #111;
$date-colors: orange;

// colors dack mode

$icon-color: var($text-colors);
$circle-color: #AAA;
$circle-color-plain: #555;

// fonts
$global-font: 'Helvetica', 'sans-serif';
$h1-font-size: 1.7rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1.1rem;
$h4-font-size: 1rem;

// helpers
$spacing-1: 0.4rem;
$spacing-2: 0.8rem;
$spacing-3: 1.2rem;
$spacing-4: 1.5rem;
$spacing-5: 2rem;






