@use "src/styles/vars" as v;

body {
    font-family: v.$global-font;
    font-weight: 200;
    color: v.$text-colors;
    background-color: v.$body-background-colors;
}

h1, h2, h3 {
    margin-bottom: v.$spacing-1;
    font-weight: 400;
    color: v.$text-colors;
}
